<div id="main">
	<section id="location_map" title="지도 표시 영역"> .....loading..... </section>
	<section id="coupon" class="location">
		<h1 class="blind">쿠폰 리스트</h1>
		<div class="coupon_list">
			
			
			
		</div>
	</section>
	<div id="location_coupon_control">
		<div id="location_coupon_counter">
			<span id="counter_now">4</span> / <span id="counter_all">7</span>
		</div>
		<button type="button" id="btn_pre_location_coupon">이전</button>
		<input type="range" min="0" max="0" value="0"/>
		<button type="button" id="btn_next_location_coupon">다음</button>
	</div>
</div>



<script type="text/x-jquery-tmpl" id="tmpl_coupon_list">
	<article class="preview" data-couponid="{%= _id %}" tabindex="0">
		<h1>{%= couponName %}</h1>
		<img class="list_img" src="image/{%= image.main.file %}" alt="{%= image.main.desc %}">	
		<img class="detail_img" src="image/photo/coupon_02_detail.jpg" alt="커피통 와플 상세 이미지" title="자세한 사항은 아래내용 참조">
		<section class="content">
			<h1>{%= couponName %}</h1>
			<p class="note">
				{%= desc %}
			</p>
			<ul class="coupon_info">
				<li class="cost">정상가격 : <del>{%= primeCost %}원</del></li>
				<li class="discount">할인가격 : <em>{%= price %}원</em></li>
				<li class="expire">유효기간 : <time datetime="{%= Util.dateToString('-', useDate.start) %}">{%= Util.dateToString('.', useDate.start) %}</time> 부터 <time datetime="{%= Util.dateToString('-', useDate.finish) %}">{%= Util.dateToString('.', useDate.finish) %}</time> 까지</li>
				<li class="remain">잔여수량 : <span>{%= quantity - buyQuantity %}개</span></li>
				<li class="term">판매기간 : <span>6월 30 까지</span></li>
			</ul>			
		</section>		
	</article>
</script>