<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>mulPang</title>
<meta name="description" content="삼성 멀티 캠퍼스 HTML5 강의용 데모 사이트">
<meta name="keywords" content="html5,css3,svg">
<link href="css/layout.css" type="text/css" rel="stylesheet" media="all">
<script src="js/lib/jquery-1.9.1.js"></script>

<script src="js/lib/jquery.tmpl.js"></script>
<script src="js/util.js"></script>

<script src="js/common_cart.js"></script>
<script src="js/common_member.js"></script>
<script src="js/common_login.js"></script>

<script src="js/${js}"></script>
</head>

<body id="${pageId}">
	<a href="#main" id="skipNavi">본문바로가기</a>
	<div id="page">
		<header id="header">
			<hgroup>
				<h1 class="logo">
					<img src="image/svg/logo.svg" alt="mulPang">
				</h1>
				<h2 class="theme">
					<img src="image/svg/logo_text.svg" alt="오늘은 뭘 파니?">
				</h2>
			</hgroup>
			<nav id="nav">
				<h1 class="blind">메인메뉴</h1>
				<ul>
					<li class="today"><a href="index.html">오늘</a></li>
					<li class="near"><a href="coupon_location.html">근처</a></li>
					<li class="best"><a href="coupon_best.html">추천</a></li>
					<li class="all"><a href="coupon_all.html">모두</a></li>
				</ul>
			</nav>
			<div id="member_info">
				<h1 class="blind">로그인</h1>
				<form id="login" name="login_form" action="#" method="post">
					<label for="login_id">아이디</label>
					<input type="email" id="login_id" name="_id" required placeholder="등록된 e-mail 입력">
					<label for="login_password">비밀번호</label>
					<input type="password" id="login_password" name="password" required placeholder="비밀번호 입력">
					<input type="submit" value="로그인">
				</form>
				<a href="member_join.html" class="member_join">회원가입</a>
			</div>
			<div id="cart" class="carton">
				<h2 class="interest">관심쿠폰</h2>
				<p class="interest_cnt">2</p>
				<ul>
					<li><a href="#"><img src="image/photo/coupon_01.jpg" width="48" height="28" alt="백운냉면"></a><button class="cart_close">관심쿠폰 삭제</button></li>
					<li><a href="#"><img src="image/photo/coupon_03.jpg" width="48" height="28" alt="고려삼계탕"></a><button class="cart_close">관심쿠폰 삭제</button></li>
				</ul>
			</div>
		</header>
		
		<!-- 컨텐츠 내용 출력 영역 -->
		{{html body}}
		
		<footer id="footer">
			<h1 class="logo">
				<a href="http://www.multicampus.co.kr/index.do"><img src="image/logo.gif" alt="삼성SDS"> </a>
			</h1>
			<ul class="menu">
				<li><a href="http://www.multicampus.co.kr/member/join.do?cmd=privacy1">개인정보 취급방침</a></li>
				<li><a href="http://www.multicampus.co.kr/member/join.do?cmd=privacy2">회원가입약관</a></li>
				<li><a href="http://www.multicampus.co.kr/member/join.do?cmd=privacy3">이메일 무단수집 거부</a></li>
				<li><a href="http://www.multicampus.co.kr/intro.do?cmd=setEducation">교육안내</a></li>
				<li><a href="#">이메일문의, 사업제휴문의</a></li>
			</ul>
			<p class="info">Mulpang㈜ 대표이사 : 김철수, 개인정보 관리 책임자 : 이영희, 사업자등록번호:123-45-6789</p>
			<address>통신판매업신고증 제○○○○호 주소:서울시 강남구 역삼동 ○○○ 대표번호:123-4567 Fax: 02)123-4567 e-mail:webmaster@mulpang.co.kr</address>
			<p class="copyright">Copyright&copy; 2013 MULPANG. All right reserved. Contact webmaster for more information</p>
		</footer>
	</div>
</body>
</html>
