<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>mulPang</title>
</head>
	<h1>메인 메뉴</h1>
	
	<h2>오늘</h2>
	<ul>
		<li><a href="index.html">오늘 - index.html</a></li>
		<li><a href="coupon_gallery.html">쿠폰 상세 조회(갤러리) - coupon_gallery.html</a></li>
		<li><a href="coupon_reply.html">쿠폰 상세 조회(쿠폰 후기 및 평점) - coupon_reply.html</a></li>
		<li><a href="coupon_map.html">쿠폰 상세 조회(찾아오시는 길) - coupon_map.html</a></li>
	</ul>
	
	
	<h2>근처</h2>
	<ul>
		<li><a href="coupon_location.html">근처 - coupon_location.html</a></li>
	</ul>
	
	
	<h2>추천</h2>
	<ul>
		<li><a href="coupon_best.html">추천 - coupon_best.html</a></li>
	</ul>
	
	
	<h2>모두</h2>
	<ul>
		<li><a href="coupon_all.html">모두 - coupon_all.html</a></li>
	</ul>
	
	<h2>구매</h2>
	<ul>
		<li><a href="coupon_buy.html">구매하기 - coupon_buy.html</a></li>
	</ul>
	
	<h2>회원</h2>
	<ul>
		<li><a href="member_join.html">회원가입 - member_join.html</a></li>
		<li><a href="member_mypage.html">마이페이지 - member_mypage.html</a></li>
	</ul>
<body>
</body>
</html>























